/* CSS Général */
body {
    font-family: Arial;
    text-align: center;
    color: white;
}

/* Header */
.header {
    background-color: #1B1A47;
    padding: 20px;
    margin-bottom: 20px;
}

.header h1 {

    font-size: 36px;
    text-align: left;
    font-size: 21px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.form, .buttons {
    margin: 20px 0;
}

/* Container */



/* Formulaire */
#name {
    padding: 10px;
    font-size: 16px;
}
#names {
    list-style-type: none;
    padding: 0;
}
#names li {
    font-size: 18px;
    margin: 5px 0;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
